<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
</head>

<body>
<nav class="navbar">
    <div class="container">
        <h1>Image Gallery</h1>
        <button class="logout-button"><a href="{{ url_for('auth.logout') }}">Log Out</a></button>

        <button class="logout-button"><a href="{{ url_for('fileupload.gallery') }}">Gallery</a></button>
    </div>
</nav>

<div class="container">
    <div class="upload-section">
        <form enctype="multipart/form-data" method="POST" action="/">
            <h2>Upload Image</h2>
            <input type="file" id="fileInput" accept="image/*" name="fileInput">
            <button type="submit">Upload</button> <!-- Submit button included within the form -->
        </form>
    </div>
</div>


</body>

</html>