{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Users Uploads{% endblock %}</h1>
{% if g.user %}
{% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <p class="body">{{ post[0] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<form enctype="multipart/form-data" method="POST">
    <h2>Upload Image:</h2>
    <input name="img" type="file"/>
    <button type="submit">submit</button>
</form>

{% if upload %}
<br><a>{{ upload }}</a>
{% endif %}

<form enctype="multipart/form-data" method="GET">
    <h2>Search for Image</h2>
    <input name="fileNameToSearch" type="text" placeholder="Search..">
    <button type="submit">search</button>
</form>
<br>

{% if image == "image not found" %}
<a>{{image}}</a>
{% elif image %}
<div><a href="https://{{ image[1] }}.s3.{{ image[2] }}.amazonaws.com/{{ image[0] }}">{{ image[0] }}</a></div>
{% endif %}
{% endblock %} 
